{% if user.is_superuser %}
<div class="row">
  <div class="col-12 col-xl-12" id='adminMenu'>
    <div class="container-fluid">


      <ul class="nav nav-pills nav-fill border" style="background-color: #e3f2fd;">
        <li class="nav-item ">
          <h5 class="my-2">Work places:</h5>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == "my_view_name" %}active{% endif %}" href="#">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == "my_view_name" %}active{% endif %}" href="{% url 'job:jobedit' jobDetail.jobNr %}">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == "my_view_name" %}active{% endif %}" href="#">Delete</a>
        </li>
        </ul>
          </div>
  </div>
</div>
{% endif %}
