{% extends 'job/job_base.html'%}
{% load static %}
{% block load %}
<link rel="stylesheet" type="text/css" href="{% static "job/style.css" %}"/>
<script type="text/javascript" src="{% static "job/googleMap.js" jobDetail.jobNr %}"></script>
{% endblock %}

{% block nav %}{% include 'job/_nav_admin.html' with jobNr=jobDetail.jobNr %}{% endblock %}

{% block main %}

  <div class="container border">
    <h3 class="my-2" style='text-align:center;'>Nr: {{jobDetail.jobNr}}</h3>
    <hr class="my-1">
    <div class="row">
      <div class="col-12 col-md-6 my-2  ">
        <p> <strong>City:</strong> {{jobDetail.city}}<p>
        <p> <strong>Street:</strong> {{jobDetail.street}}<p>
        <p> <strong>ZIP:</strong> {{jobDetail.zip}}<p>
        <p> <strong>Start:</strong> {% if jobDetail.start %} {{jobDetail.start|date:'d M Y'}}{% else %}Not start yet{% endif %}<p>
        <p> <strong>Stop:</strong> {% if jobDetail.finish %}{{jobDetail.finish|date:'d M Y'}}{% elif jobDetail.start %}In progress{% else %}Not start yet{% endif %}<p>
        {% if user.is_superuser %}
        <strong>Total work hours: </strong>{{jobDetail.totalHours}}
        {% endif %}
        <p><a href="{% url "worktime:addhours" jobDetail.jobNr %}"><button type="button" class="btn btn-primary btn-sm" name="button">Add hours</button></a></p>
      </div>
      <div class="col-12 col-md-6 my-2">
        <table class="table table-striped table-sm">
          <thead class="thead">
            <th ><strong>Workers</strong></th>
            {% if user.is_superuser %}
            <th ><strong>Hours</strong></th>
            {% endif %}
          </thead>
          {% for worker in jobDetail.jobworkers.all %}
          <tr>
            <td><a href="{% url "worktime:employeehours" pk=worker.user.id %}"><strong>{{worker}}</strong></a></td>
          {% if user.is_superuser %}
          <td>
            <strong>{{worker.totalHours}}</strong>
          </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
      <div class="">
        <div id="map"></div>
        <script>var add = '{{jobDetail.city}}' + ' ' + '{{jobDetail.street}}';</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapKey}}&callback=initMap">var address = '{{jobDetail.city}}' + ' ' + '{{jobDetail.street}}'</script>
      </div>
    </div>
    <div class="container border">
      <h3 style='text-align:center;' class="my-4">My hours:</h3>
      <hr class="my-1">
      <table class="table table-striped table-sm">
        <thead class="thead">
          <th><strong>Date</strong></th>
          <th><strong>Hours</strong></th>
          <th><strong>Description</strong></th>
          <th></th>
        </thead>
          {% for hours in myHours %}
            {% for hour in hours.time.all %}
              <tr>
                <td>{{hour.date}}</td>
                <td>{{hour}}</td>
                <td>{{hour.description}}</td>
                <td><a href="{% url "worktime:myjobhours" pk=hour.id %}">edit</a>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
      </table>
    </div>

{% endblock %}
