{% extends "base.html" %}
{% block  main %}
  <div class="container text-center">
    <div class="form-check form-check-inline">
    <form action="{% url "worktime:myhours" %}" method="GET">
      <input class="form-check-input select" type="radio" name = "sort" id="inlineRadio1" value="all" {% if activ == "all" %}checked{% endif %}/>
      <label class="form-check-label mr-5" for="inlineRadio1">All</label>
      <input class="form-check-input" type="radio" name = "sort" id="inlineRadio1" value="future" {% if activ == "future" %}checked{% endif %}/>
      <label class="form-check-label mr-5" for="inlineRadio1">Future</label>
      <input class="form-check-input" type="radio" name = "sort" id="inlineRadio1" value="complited" {% if activ == "complited" %}checked{% endif %}/>
      <label class="form-check-label mr-5" for="inlineRadio1">Completed</label>
      <input class="form-check-input" type="radio" name = "sort" id="inlineRadio1" value="current" {% if activ == "current" %}checked{% endif %}/>
      <label class="form-check-label mr-5" for="inlineRadio1">Current</label>
      <input type="submit" class="btn btn-primary btn-sm" value="Sort">
    </form>
    </div>
  </div>
  <hr class="my-3">
  <table class="table table-striped table-sm">
    <thead class="thead">
      <th>Job Nr</th>
      <th>City</th>
      <th>Street</th>
      <th>Started</th>
      <th>Finished</th>
      {% if user.is_superuser %}
        <th>Total hours</th>
      {% endif %}
      </thead>
      {% for jobWorker in jobWorkers %}
        <tr>
          <td><a href="{% url "job:jobdetail" jobWorker.job.jobNr%}">{{jobWorker.job.jobNr}}</a></td>
          <td>{{jobWorker.job.city}}</td>
          <td>{{jobWorker.job.street}}</td>
          <td>{{jobWorker.job.start|date:'d M Y'}}</td>
          <td>{{jobWorker.job.finish|date:'d M Y'}}</td>
          {% if user.is_superuser %}
            <td>{{jobWorker.job.totalHours}}</td>
          {% endif %}
        </tr>
        <tr >
          <td colspan="6">
            <div class="container">
              <div class="container text-center">
                <a href="{% url "worktime:addhours" jobWorker.job.jobNr %}"><button class="btn btn-primary btn-sm">Add Hours</button></a>
              </div>
              <table class="table table-striped table-sm">
                {% for hour in jobWorker.time.all %}
                <tr>
                  <td>{{ hour.date }}</td>
                  <td>{{ hour.hours }}</td>
                  <td>{{ hour.description }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>
      {% endfor %}
  </table>

{% endblock %}
